doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Chiripa
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Chiripa
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/dist.css')
    script(src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  body
    section.hero.h-screen.flex.flex-col.justify-between.items-center
      nav.pt-2.flex.justify-center
        a.inline-block(href='/')
          img(src='images/logo.png')
      .bg-white.rounded.px-8.py-4.flex.flex-col.items-center.mb-1(class='w-2/3 md__w-1/2')
        h2.font-semibold.text-xl.mb-1 Organiza el próximo gran recuerdo de tus pequeños 
        p En Chiripa tenemos los locales más populares y las próximas fechas disponibles.
        i(class='fas fa-arrow-down')
    section.bg-gray-200.p-4
      h2.text-center.text-pink-800.text-3xl.font-bold.mb-3 Locales disponibles
      .flex.flex-wrap.m-3
        each local in locales
          .w-full.flex.flex-col.p-3(class='md__w-1/2 lg__w-1/3')
            .bg-white.rounded-lg.shadow-lg.overflow-hidden.flex.flex-1.flex-col
              a(href=local.slug)
                img.block.w-full.h-64(src=local.coverPhoto)
              .p-4.flex.flex-1.flex-col.justify-center
                h3.mb-4.text-2xl=local.nombre
                a.bg-pink-900.hover__bg-pink-700.text-center.text-white.font-bold.py-2.px-4.rounded(href=local.slug)
                  | Ver horarios disponibles

