@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}